# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
	user = Willy Nolan
	email = willy@willynolan.com
[user]
	email = willy@willynolan.com
[push]
	default = simple
